body {
    background-color: #171717;
}

.qnet{
    display:block;
    margin: 0 auto;
}

.judul{
    color: #ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}